
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	text-decoration: none;
	text-transform: none;
	
	
}

body{
	font-family:"Lato",sans-serif;
	font-size:15px;
	line-height:1.5;
	background-image: url("drugs.jpg");	
}


/*--------------BARRA DE NAVEGACION----------------*/
header
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	padding: 0px 7%;
	display: flex;
	align-items:center;
	justify-content:space-between;
	z-index:10;
}
header .nav ul
{
	list-style: none;
}

header .nav ul li
{
	float: left;
	position: relative;
}
header .nav ul li a
{
	font-size: 20px;
	text-decoration: none;
	padding: 20px;
	display: block;
	transition: all .2s ease;
}
header .nav ul li a:hover
{
	background-color: #ccc;
}
header .nav ul li ul
{
	position: absolute;
	right: 0px;
	display: none;
	width: 200px;
	background-color: white;
}
header .nav ul li ul li a
{
	font-size: 15px;
	text-transform: capitalize;
	
}
header nav ul li ul li
{
	width: 100%;
}
header .nav ul li:focus-within > ul, 
header .nav ul li:hover>ul
{
	display: initial;
} 

#menu-bar,
header label
{
	cursor: pointer;
	display: none;
}

/*header label
{
	font-size: 20px;
	color: #333;
	cursor: pointer;
	display: none;
}*/
/*----------------Primer Equipo-----------------*/

h2
{
	font-size: 30px;
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0
}
.debajo
{
	display: flex;
	flex-wrap: wrap;
}
.sub-titulo
{
	padding-top: 5px;
	padding-bottom: 15px;
	font-size: 20px;
}
.logo
{
	width: 100%;
}
.fotos-opacidad
{
	opacity: 0.60;
}
.w3-wide
{
	letter-spacing:4px;
	
}
.textej {
	white-space: nowrap; 
	color: black;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }

.justificado
{
	text-align:justify;
	
}
.main
{
	padding-top:64px;
	padding-bottom:64px;
	text-align:center;
}
.borde
{
	border-radius:4px; /* Esto redondea las imganes */
}
.margen-bottom
{
	margin-bottom:16px;
}
.que
{
	float:left;
	width:100%;
	padding:0 8px;
}

a{
	text-decoration: none;
	color: #000000;
}
.icon { display: none; }

.sect-principal{
	max-width: 1300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
  	text-align: center;
	text-transform: none;
	background-color: white;
	margin-top: 150px;
}
.principal{
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	display:contents;
	justify-content: center;
	align-items: center;
	/* color: #ffffff;*/
	
}
.principal div img{
	width: 100%;
	padding-top: 0px;
}
.parrafo
{
	margin-left: 15px;
	margin-right: 15px;
	font-size: 18px;
	font-family: "Lato", sans-serif;
}
.secundario{

	width: 90%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 60px;
	
}

.personaje {
    position: relative ;
    display: inline-block;
	width: 100%;
}
.enlace-personaje
{
	width: 70%;
}
.imagen-personaje {
	
	border-radius: 30px;
	width: 70%;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
    transition: transform 0.3s ease;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);

}

.personaje:hover .imagen-personaje{
    transform: scale(1.1); /* Efecto de mini zoom */
	filter: contrast(140%);
}

.nombre-personaje {
	font-family:"Lato", sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	display:inline-block;
    position:absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease;
	transition: transform 1.3s ease;
	margin-top: 130px;
	z-index: 2;
}
.personaje:hover .nombre-personaje{
    opacity: 1; /* Mostrar el nombre al pasar el mouse */
	transform: translate(-30%, -20%) ; 
}
.nombre-personaje:hover, .nombre-personaje:not(:hover) {
    transition: opacity 0.5s ease, transform 1.3s ease; /* Asegura que la transición se aplique también cuando se sale */
}
h3{
	font-size: 1.8rem;
	text-transform: uppercase;
}
h4{
	font-size: 1.5rem;
	text-decoration: underline;
}
/*---------------HISTORIA---------------*/
.letra
{
	font-family: "House M.D.";
	justify-content: center;
	align-items: center;
	font-size: 50px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.img-left
{	

	float: left;
	width:30%;
	margin-right: 10px;
	margin-left: 10px;
}

.texto
{
	font-size: 20px;
	font-family: "Lato", sans-serif;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: left;
}
.contenedor
{
	display: flex;
}
/*---------------TEMPORADAS---------------*/
.sec-tempo
{
	
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	width: 1250px;
	height: 600px;
	background-color: white;
    
}
.sec-tempo img
{
	width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: width 0.5s ease, opacity 0.5s ease;
}

.sec-tempo img:hover
{
	width: 200px;
	opacity: 1;
	filter: contrast(110%);
}

.sub-tempo
{
	margin-top: 50px;
}
/*---------------FORMULARIO---------------*/
.img-form
{
	background-image: url(/images/principal/form.jpg);
	background-size: cover;

	
}
.container-form
{
	width: 100%;
	max-width: 1100px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px;
	margin-top: 90px;
}
.container-form h2
{
	margin-bottom: 15px;
	font-size: 35px;
}
.container-form p
{
	font-size: 17px;
	line-height: 1.6;
	margin-bottom: 30px;
	text-transform:none;
	color: black;
}

form .campo,textarea
{
	width: 100%;
	padding: 15px 10px;
	font-size: 15px;
	border: 1px solid #dbdbdb;
	margin-bottom: 20px;
	border-radius: 3px;
	outline: 0px;
}

.btn-enviar
{
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: 0px;
	background: black;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	transition: all 300ms ease;
}

.btn-enviar:hover
{
	background: grey;
}
/*---------------GALERIA---------------*/
.letra-galeria
{
	font-family: "House M.D.";
	justify-content: center;
	align-items: center;
	font-size: 50px;
}
.container
{
	max-width: 1300px;
	min-height: 60vh;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
  	text-align: center;
	text-transform: none;
	background-color: white;
	margin-top: 100px;
	padding: 50px 0;


}
.galeria
{
	padding-left: 20px;
	padding-right: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 20px;	
}
.galeria img
{
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.galeria a:hover img
{
	filter: blur(1px);
}

/*
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
display: grid;
*/




/*---------------FOOTER---------------*/
.pie-pagina{
    width: 100%;
    background-color: white;
	margin-top: 140px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}



@media(max-width: 480px) { 
header{
	padding: 20px 10%;
}
header label
{
	display: initial;
}
header .nav
{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	border-top: 1px solid rgba(1, 1, 1, .1);
	display: none;
}

header .nav ul li
{
	width: 100%;
}
header .nav ul li a
{
	padding-top: 8px;
	padding-right: 30px;
	padding-left: 10%;
	padding-bottom: 8px;
	background-color: azure;

}
header .nav ul li ul
{
	position: relative;
	width: 100%;
	left: 0;
	
}
header .nav ul li ul li
{
	background-color: black;
}
header .nav ul li ul li ul
{
	width: 100%;
	left: 0;
}
#menu-bar:checked ~ .nav
{
	display: block;
}
#menu-bar:not(:checked) ~ .nav {
    display: none;
}
/*---------------GALERIA---------------*/
.container
{
	width: 100%;
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 8%;
	margin-top: 5rem;
}
.galeria
{
	display: flex;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	display: grid;
}

.galeria img
{
	width: 100%;
}

.pie-pagina .grupo-1{
	width: 90%;
	grid-template-columns: repeat(1, 1fr);
	grid-gap:30px;
	padding: 35px 0px;
}

.icon {
	display: block;
	padding-right: 0.6rem;
	text-align: right;
}
.sect-principal{
	max-width: 480px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.principal{
	height: 250px;
	padding: 10%;
}
.secundario{
	margin-top: 1%;
	display: block;
}
.secundario div{
	width: 100%;
}
.secundario div a img{
	margin-bottom: 1rem;
}
h2{
	font-size: 1rem;
}
h4{
	font-size: 1rem;
}
footer{
	height: 80px;
}
footer img{
	max-width: 1.5rem;
}
}